html {
border: 1px solid black;
}

.row {
    border: 1px solid black;
    display: inline-block;
    display: center;
    
}

h1 {
    font-family: 'Plaster', cursive;
    font-size: 30px;
    box-sizing: border-box;
    border: 1px solid black;
}
h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    color: chartreuse;
    border: 1px solid black;
}
h3 {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    color: darkturquoise;
    border: 1px solid black;
}
i {
    font-size: 3em;
    color: green;
    border: 1px solid black;
}
